* {
    font-family: roboto; 
}

.banner {
    background-color: #1F2937;
    color:white;
}

.container {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-around;
    
}


.container div {
    flex: 1 1 auto;
}


.container .headerlogo {
    flex : 5 1 auto;
    padding-left:  13.7%;
    font-size: 24px;
}

.info {
    display: flex;
    justify-content: space-around;
}

.info .written {
    width: 350px;
    height: 300px;
    flex-direction: column;
    margin-bottom: 50px;
}

.info .written .title {
    font-size:xx-large;
}
.info button {
    background-color: #3882F6;
    border-radius: 4px;

}

.info .placeholder {
    width: 500px;
    height: 300px;
    background-color: gray;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .placeholder span {
    font-size: larger;
}

.randominfo {
    color: black;
    border: solid;

}

.randominfo h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;

}

.randominfo .cont {
    display: flex;
    justify-content: center;

}

.randominfo .cont div{
    display: flex;
    flex-direction: column;
    
    
    
}

.randominfo .cont .image_holder {
    border: solid #3882F6;
    border-radius: 8px;
    height : 150px;
    width: 150px;
    
}
.randominfo .cont div span{
    flex:auto;
    padding: 20px;
    width : 150px
    
    
}